*
{
    margin: 0px;
    padding: 0px;
}

#navbar
{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
   

}

#navbar ul
{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}

#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a
{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover
{
    color: black;
    background-color: white;
}

#navbar::before
{
    content: "";
    background-color: black;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}



#logo
{
    margin: 6px 0px;
}


#logo img
{
    width: 100px;
    margin: 1px 76px ;
    
}


/* Main section */

#home
{
    display: flex;
    flex-direction: column;
    height: 403px;
    padding:3px 300px; 
    align-items: center;
    justify-content: center;

}

#home::before
{
    content: "";
    position: absolute;
    background: url('background/bg.jpg')no-repeat center center/cover;
    top: 0px;
    left:0px;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1
{
        color: white;
        text-align: center;
        font-family: 'Bree Serif', serif;
       
}

#home p
{
        color: white;
        text-align: center;
        font-size: 1.1rem;
        font-family: 'Bree Serif', serif;
}

/* Services class */

#services
{
    display:flex;
    
    margin: 34px;
}

#services .box
{
    border: 2px solid red;
    padding: 34px;
    margin: 3px 30px;
    border-radius: 28px;
    background-color: #ffd65b;
    margin-bottom: 20px;
}

#services .box img
{
    height:160px;
    margin: auto;
    display:block;
}

#services .box p
{
    font-family: 'Bree Serif', serif;

}



/* Utility class */

.h-primary
{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary
{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}


.btn
{
    padding: 2px 20px;
    border: 2px solid white;
    margin: 17px;
    background-color: red;
    color: white;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;

}

.center
{
    text-align: center;
}

/* Client section */

#client-side
{
    position: relative;
}

#client-side::before
{
    content: "";
    position: absolute;
    background: url('background/bg1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
}

#client
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-item
{
    padding: 34px;
}
#client img
{
    height: 90px;
}

/* Contact form */

#contact
{
    position: relative;
    color: gainsboro;

}

#contact::before
{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#contact-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea
{   
    width: 100%;
    padding: 0.3rem;
    border-radius: 9px;
    font-size: 1.1rem ;

}

#contact-box .form-group
{
        width: 40%;


}

#contact-box label
{
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    
}



footer
{
    background-color: black;
    color: white;
    padding: 9px 20px;
}